@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
}

:root {
    --font-family: "Space Mono", monospace;
}

a {
    text-decoration: none;
}

body {
    background: royalblue;
    margin: 0;
    overflow-x: hidden;
    width: 100%;
    max-width: 1440px;
    font-family: var(--font-family);
}

.senthead {
    /* backdrop-filter: blur(15px); */
    border-bottom: 1px solid rgba(255, 255, 255, 0.14);
    position: fixed;
    height: 6em;
    z-index: 3;
    width: 110%;
    transition: 440ms 330ms ease-out;
}

.smaller {
    height: 7em;
}

.center {
    margin-top: 7rem;
}

.centered-text {
    text-align: center;
    font-size: 4rem;
margin-top: 16rem;   
font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #00b7ff;
    display: flex;
    text-shadow: 0px 1px 0px rgb(34, 62, 145), 0px 2px 0px royalblue, 0px 3px 0px royalblue, 0px 4px 0px royalblue, 0px 6px 0px royalblue, 0px 13px 5px rgb(44, 53, 82);
    justify-content: center;
    align-items: center;
}

.centered-text2 {
    text-align: center;
    font-size: 29px;
    font-family: "Space Mono", monospace;
    display: flex;
    /* letter-spacing: -3px; */
    font-weight: 700;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    /* will change to space-around when doing media queries for laptop view */
    align-items: center;
    width: 90%;
    padding-top: 0.8rem;
}

@media screen and (width < 430px) {
    header {
        padding-top: 1rem;
    }
}

.logo {
    display: block;
}

.logo img {
    width: 110px;
    padding-left: 1rem;
}

button {
    font-weight: 700;
    background-color: #00b7ff;
    color: rgb(31, 32, 36);
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
    border: 2px solid rgb(31, 32, 36);
    border-bottom: 5px solid rgb(31, 32, 36);
    border-radius: 10px;
    width: 130px;
    height: 50px;
}

.main-button {
    padding-top: 2em;
    display: flex;
    justify-content: center;
}

.main-button button {
    border-radius: 12px;
    margin-top: 4rem;
}

.main-button button.launch,
.main-button button.docs {
    font-weight: 700;
    background-color: #00b7ff;
    color: rgb(31, 32, 36);
    cursor: pointer;
    display: inline-flex;
    width: 130px;
    height: 50px;
    font-family: inherit;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
    border: 2px solid rgb(31, 32, 36);
    border-bottom: 5px solid rgb(31, 32, 36);
}

.main-button button.launch:hover,
.main-button button.docs:hover,
button:hover {
    border-bottom: 6px solid rgb(31, 32, 36);
}

.main-button button.launch:active,
.main-button button.docs:active,
button:active {
    transition: 0.1s ease-in-out;
    height: 50px;
    border-bottom: 2px solid rgb(31, 32, 36);
    border-top: 3px solid rgb(31, 32, 36);
}

.section-12 {
    display: flex;
    background-color: #00b7ff;
    justify-content: center;
    align-items: center;
}

.whole {
    background-color: #000000;
    margin: 30px;
    padding: 20px;
    border: 2px solid rgb(31, 32, 36);
    border-radius: 20px;
    width: 1050px;
    box-shadow: rgba(5, 5, 5, 0.2) 0px 11px 15px 0px, rgba(5, 5, 5, 0.14) 0px 24px 38px 0px, rgba(5, 5, 5, 0.25) 0px 4px 4px 0px;
    align-items: center;
}

.left h1 {
    font-size: 40px;
    font-weight: 700;
}

.right {
    text-align: center;
}

.right img {
    padding-top: 40px;
    width: 300px;
}

@keyframes bounce {
    0%,
    25%,
    50%,
    75%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-19px);
    }
}

.purple-icon {
    z-index: 2;
    margin-left: 2em;
}

img.line {
    padding-bottom: 29px;
    width: 60px;
    margin-left: -5em;
}

main {
    display: block;
    /* padding-top: 1rem; */
    overflow-x: hidden;
}

.main-text {
    position: relative;
    letter-spacing: 0.02em;
    padding: 1rem;
}

pre {
    font-size: 0.9rem;
}

h1.bold-text {
    position: relative;
    z-index: 4;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.5;
}

.info-text {
    padding-top: 2rem;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    display: block;
    margin: 0 auto;
}

.hero-orange {
    position: absolute;
    top: 0em;
    left: 4em;
    z-index: -1;
}

.hero-orange img {
    width: 70px;
    animation: bounce 9s infinite;
}

.hero-3-4 {
    padding-top: 4rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero-buy {
    width: auto;
    padding-top: 0.6rem;
    margin-left: -0.9rem;
    max-width: 30%;
}

.hero-sell {
    width: auto;
    padding-top: 7px;
    max-width: 28%;
}

.hero-line {
    width: auto;
    max-width: 15%;
}

.section-2 .features>div {
    margin-left: 1.5rem;
    text-align: left;
    display: grid;
    align-items: center;
    gap: 50px;
    width: auto;
    max-width: 88%;
}

.features h4 {
    font-size: 1.15em;
    text-align: left;
}

.features img {
    width: 100px;
    display: block;
    margin-top: 1em;
    margin-bottom: -0.5em;
}

.features h1 {
    margin-top: 2rem;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.features p {
    color: #ffffffa6;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    margin-top: -2em;
}

.features .p2p {
    width: auto;
}

.features .rug {
    width: 96%;
}

.features .holders {
    width: 94%;
}

img.commerce,
img.nft,
img.smart,
img.exchange {
    max-width: 600px;
    width: 95%;
    display: block;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
}

.p2p-loans,
.nft-insur,
.smart-1,
.commerce,
.exchange {
    padding: 1em;
    font-size: 1em;
}

img#comm {
    margin-right: -1em;
}

.p2p-loans span,
.nft-insur span,
.smart-1 span,
.commerce span,
.exchange span {
    color: var(--green-color);
}

.p2p-loans b {
    font-weight: 900;
    /* padding-bottom: 0.2rem; */
    /* line-height: 2em; */
    font-size: 1.6em;
    word-spacing: 10px;
    display: flex;
    flex-direction: column;
    /* transition: 0.23s ease-in-out; */
    cursor: pointer;
    font-weight: 900;
}

.p2p-info {
    padding-top: 1em;
    width: auto;
    display: flex;
    max-width: 650px;
    align-items: center;
    line-height: 1.5em;
}

.p2 {
    padding: 1em 0em;
    font-size: 1.3em;
}

.check ul {
    list-style: none;
}

.check ul li {
    display: flex;
    padding-top: 1em;
    max-width: 650px;
}

.check ul li img {
    padding-right: 1em;
}

.check ul li p {
    margin-top: 5px;
    font-weight: 700;
    border-bottom: 1.5px solid #00b7ff;
}

.checksmart ul li p {
    margin-top: -16px;
}

.p2p-loans button,
.nft-insur button,
.smart-1 button {
    border-radius: 10px;
    margin-top: 5em;
    color: black;
    width: 140px;
    height: 50px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    text-align: center;
    border-bottom: 5px solid rgb(31, 32, 36);
}

.smart-button {
    display: flex;
}

.section-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fstep {
    text-align: center;
}

.how-to {
    font-weight: 900;
    font-size: 2em;
    margin-bottom: -10px;
}

.step {
    margin-top: 2em;
    text-align: center;
}

.step h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.some h1 {
    margin-bottom: -10px;
}

.step .fp {
    font-weight: 700;
    font-size: 18px;
    line-height: normal;
}

.fcard {
    padding: 30px;
    background-color: #9c1bbc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 20px;
    font-size: 14px;
    margin-top: 100px;
    border-radius: 20px;
    border: 2px solid #000000;
    position: relative;
    box-shadow: rgba(5, 5, 5, 0.2) 0px 11px 15px 0px, rgba(5, 5, 5, 0.14) 0px 24px 38px 0px, rgba(5, 5, 5, 0.25) 0px 4px 4px 0px;
}

.fcard2 {
    padding: 30px;
    background-color: #00b7ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 20px;
    margin-top: 100px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 20px;
    border: 2px solid #000000;
    position: relative;
    box-shadow: rgba(5, 5, 5, 0.2) 0px 11px 15px 0px, rgba(5, 5, 5, 0.14) 0px 24px 38px 0px, rgba(5, 5, 5, 0.25) 0px 4px 4px 0px;
}

button.buy {
    margin-top: 1rem;
    background-color: #9c1bbc;
}

.dimag img {
    width: 300px;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
}

 

.dimag img.uni {
    width: 250px;
}

.dimag img.base {
    width: 200px;
}

.cont {
    margin-top: 150px;
}

.cont h2 {
    color: black;
    font-weight: 900;
    margin-bottom: -10px;
}

.fp2 {
    font-weight: 600;
    font-size: 16px;
}

.cont p {
    color: #000000;
}

.ca {
    font-size: 10px;
    margin-top: 1rem;
}

.swap {
    font-weight: 900;
}

.ca-num {
    font-weight: 900;
}

.section-5 {
    text-align: center;
    margin-top: 3rem;
}

.fcard3 {
    padding: 30px;
    background-color: #9c1bbc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 20px;
    margin-top: 100px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 20px;
    border: 2px solid #000000;
    position: relative;
    box-shadow: rgba(5, 5, 5, 0.2) 0px 11px 15px 0px, rgba(5, 5, 5, 0.14) 0px 24px 38px 0px, rgba(5, 5, 5, 0.25) 0px 4px 4px 0px;
}

.section-6 {
    margin-top: 100px;
}

.sect-cont {
    background-color: #00b7ff;
    border: 2px solid #9c1bbc;
    padding: 20px;
    margin: 30px;
    box-shadow: rgba(5, 5, 5, 0.2) 0px 11px 15px 0px, rgba(5, 5, 5, 0.14) 0px 24px 38px 0px, rgba(5, 5, 5, 0.25) 0px 4px 4px 0px;
    border-radius: 20px;
    text-align: center;
}

.lasimag img {
    width: 100%;
    border-radius: 20px;
}

footer p {
    text-align: center;
    margin-bottom: 20px;
}

.descript {
    margin-top: 20px;
}

.buttons button {
    /* width: 100%; */
    height: 60px;
    margin-top: 20px;
    border: 2px solid royalblue;
    font: 30px;
    font-weight: 700;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.fcard4 {
    padding: 30px;
    background-color: #00b7ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-top: 100px;
    margin-inline: 20px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 20px;
    border: 2px solid #000000;
    position: relative;
    box-shadow: rgba(5, 5, 5, 0.2) 0px 11px 15px 0px, rgba(5, 5, 5, 0.14) 0px 24px 38px 0px, rgba(5, 5, 5, 0.25) 0px 4px 4px 0px;
}

@media screen and (min-width: 400px) {
    h1.bold-text {
        font-size: 26px;
    }
}

@media screen and (min-width: 500px) {
    h1.bold-text {
        font-size: 2rem;
    }
}

@media (min-width: 700px) and (max-width: 1100px) {
    body {
        font-size: 1.3rem;
    }
    .senthead {
        background: none;
        height: 6rem;
        display: flex;
        align-items: center;
        padding: 1rem 1.7rem;
    }
    .logo img {
        padding: 0;
    }
    header {
        margin-top: -0.5rem;
        max-width: 90%;
        margin-right: -3rem;
    }
    h1.bold-text {
        font-size: 2.5rem;
        max-width: 640px;
        text-align: center;
        margin: 0 auto;
    }
    .purple-icon img {
        width: 7rem;
        top: 4rem;
        left: 2.1rem;
    }
    p.info-text {
        text-align: center;
        width: 400px;
        font-size: 1rem;
    }
    pre {
        text-align: center;
        font-size: 1rem;
    }
    img.line {
        width: 5.5rem;
    }
    .hero-orange img {
        width: 85px;
    }
    @media (min-width: 800px) {
        h1.bold-text {
            font-size: 3rem;
            max-width: 700px;
        }
        .purple-icon img {
            width: 7rem;
            top: 4rem;
            left: 5rem;
        }
        .info-text {
            text-align: center;
            width: 460px;
            font-size: 1.1rem;
        }
        pre {
            text-align: center;
        }
        img.line {
            width: 5.8rem;
        }
        button {
            width: 120px;
            height: 45px;
            font-size: 0.8rem;
            font-weight: 700;
        }
        button .launch {
            font-weight: 900;
        }
        img.commerce,
        img.nft,
        img.smart,
        img.exchange {
            max-width: 800px;
            width: auto;
            margin-top: 4em;
        }
        .p2p-loans,
        .nft-insur,
        .smart-1,
        .commerce,
        .exchange {
            padding: 2em;
            font-size: 1.7rem;
        }
        img#comm {
            margin: 0 auto;
        }
        .p2p-loans span,
        .nft-insur span,
        .smart-1 span,
        .commerce span,
        .exchange span {
            color: var(--green-color);
        }
        .p2p-loans b,
        .nft-insur b,
        .smart-1 b,
        .commerce b,
        .exchange b {
            font-weight: 900;
            padding-bottom: 0.2rem;
            line-height: 2em;
            font-size: 1.6em;
            word-spacing: 10px;
            border-bottom: 5px solid #88e900;
            white-space: nowrap;
        }
        .p2p-info,
        .nft-info,
        .smart-1 p,
        .commerce-info,
        .exchange-info {
            padding-top: 1em;
            display: flex;
            align-items: center;
            line-height: 1.5em;
        }
        .checksmart ul li p {
            margin-top: -25px;
        }
    }
    .section-2 .features>div {
        margin-left: 3rem;
    }
    .features img {
        width: 149px;
    }
    .features p {
        font-size: 18px;
    }
    .features .rug {
        width: 85%;
    }
    .features .holders {
        width: 85%;
    }
    .features h4 {
        font-size: 30px;
    }
    .features h1 {
        font-size: 35px;
    }
}

#section-1 {
    background-image: url("images/mainu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-bg {
    position: absolute;
    height: 100%;
    background-image: url(images/dots.png);
    background-size: cover;
    background-repeat: repeat-x;
    background-position: -400px 200px;
    animation: 10s linear 0s infinite normal none running sliding;
}

.green-text {
    color: var(--green-color);
}

.docs {
    font-weight: 700 !important;
    margin-left: 1em;
    position: relative;
}

.section-3::before,
.section-3::after {
    content: "";
    position: absolute;
    width: 20%;
    height: 20%;
    border: 4px solid #00b7ff;
}

.section-3::before {
    top: -23px;
    right: 0;
    left: 1%;
    border-right: none;
    border-bottom: none;
}

.section-3::after {
    right: 3%;
    border-left: none;
    border-top: none;
    bottom: -2.4em;
}

.section-3 {
    position: relative;
    margin-top: 8rem;
    margin-bottom: 5rem;
}

hr.section-line {
    width: 100%;
    margin: 0.75rem auto;
    border: none;
    border-bottom: 1px solid #ffffff24;
}

img.left-img,
img.right-img {
    display: none;
}

@media (min-width: 1200px) {
    body {
        max-width: 1400px;
        margin: 0 auto;
    }
    .senthead {
        background: none;
        height: 7rem;
        padding: 1rem 1.7rem;
        display: flex;
        justify-content: center;
    }
    .section-12 {
        display: flex;
        justify-content: center;
        background-color: royalblue;
    }
    .whole {
        background-color: #000000;
        border: 2px solid rgb(31, 32, 36);
        padding: 40px;
        margin: 30px;
        border-radius: 20px;
        display: flex;
        width: 1000px;
        justify-content: space-between;
        align-items: center;
        /* row-gap: 40px; */
    }
    .left h1 {
        font-size: 40px;
    }
    .left {
        width: 60%;
        padding: 20px;
        margin-right: 70px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .right {
        display: flex;
        justify-content: flex-end;
    }
    .right img {
        display: flex;
        width: 400px;
    }
    .logo img {
        padding: 0;
    }
    button {
        width: 130px;
        height: 40px;
        font-size: 80%;
        font-weight: 700;
    }
    h1.bold-text {
        font-size: 3rem;
        width: 730px;
        text-align: center;
        margin-inline: auto;
        position: relative;
        z-index: 2;
    }
    p.info-text {
        text-align: center;
        width: 400px;
    }
    pre {
        text-align: center;
    }
    .purple-icon .purple {
        width: 120px;
        margin-left: 17em;
        margin-bottom: -1em;
    }
    img.line {
        width: 90px;
        margin-left: -6em;
    }
    .main-button button {
        width: 145px;
        height: 45px;
        font-size: 90%;
        font-weight: 700;
    }
    .hero-orange {
        width: 120px;
    }
    .hero-orange img {
        width: 77%;
    }
    .hero-3-4 {
        width: 1000px;
    }
    .section-2 .features>.feat {
        max-width: 27%;
        display: grid;
        grid-column: 88px;
    }
    .features>div.feat2 {
        margin-left: -3.5rem;
    }
    .features {
        display: flex;
        column-gap: 95px;
        margin-left: 5rem;
        position: relative;
    }
    .section-2 .features>div {
        margin-top: 5rem;
        justify-content: start;
    }
    .features h4 {
        font-size: 1.15em;
        text-align: left;
        margin-bottom: 10rem;
    }
    .features img {
        width: 100px;
        display: block;
    }
    .features h1 {
        font-size: 2em;
        position: absolute;
        left: 47%;
        transform: translateX(-50%);
    }
    .features .p2p {
        width: auto;
        max-width: 80%;
        margin-top: -20.4rem;
    }
    .features .rug {
        width: 100%;
        margin-top: -17.6rem;
    }
    .features .holders {
        width: 80%;
        margin-top: -19.2rem;
    }
    div .feat3 {
        margin-right: -5rem;
    }
    img.hero-rug {
        margin-top: 3.9rem;
    }
    img.hero-holders {
        margin-top: 3.5rem;
    }
    h4.hpull {
        margin-bottom: 10.2rem;
    }
    .section-3 {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    img.hero-p2p {
        margin-top: 3.5rem;
    }
    .section-6,
    .section-7 {
        display: flex;
        flex-direction: row-reverse;
        font-size: 120%;
    }
    img.commerce,
    img.nft,
    img.smart,
    img.exchange {
        width: auto;
        margin-right: 2em;
        max-width: 659px;
    }
    img.nft {
        margin: 0;
    }
    img.smart {
        width: 550px;
    }
    img.exchange {
        margin-right: 50px;
    }
    .p2p-loans,
    .nft-insur,
    .smart-1,
    .commerce,
    .exchange {
        padding-left: 2em;
        font-size: 1.3rem;
        width: auto;
    }
    .commerce {
        margin-top: -10rem;
    }
    .p2p-loans,
    .nft-insur {
        max-width: 600px;
    }
    .commerce-info,
    .exchange-info {
        width: 548px;
    }
    .p2 {
        width: 548px;
    }
    img#comm {
        margin-right: -5rem;
        max-width: 698px;
    }
    .section-2::after,
    .section-2::before {
        height: 300px;
    }
    .section-2::after {
        margin-top: -3em;
        bottom: -0.3999999999999986em;
    }
    img.right-img,
    img.left-img {
        width: 100px;
        position: absolute;
        animation: bounce 9s infinite;
        transform: rotate(334deg);
    }
    img.right-img {
        right: 70px;
        transform: rotate(334deg);
    }
    img.left-img {
        left: -50px;
        bottom: 0;
    }
    .section-3::before {
        right: 0;
        top: 39px;
        left: 1%;
    }
    .section-3::after {
        right: 1%;
        border-left: none;
        border-top: none;
        bottom: 0.6em;
    }
    .fcard {
        width: 400px;
    }
    .fcard2 {
        width: 400px;
    }
    .fcard3,
    .fcard {
        width: 400px;
        margin-right: -30px;
        transform: rotate(-7deg);
    }
    .fcard4,
    .fcard2 {
        width: 400px;
        margin-left: 20px;
        transform: rotate(5deg);
    }
    button.buy {
        width: 200px;
        height: 52px;
        font-size: 30px;
        font-weight: 700;
    }
    .fg2 {
        display: flex;
        margin-top: 2rem;
        justify-content: center;
    }
    .section-6 {
        display: flex;
        margin-top: 70px;
        justify-content: center;
    }
    .sect-cont {
        background-color: #00b7ff;
        border: 2px solid royalblue;
        padding: 40px;
        margin: 30px;
        box-shadow: rgba(5, 5, 5, 0.2) 0px 11px 15px 0px, rgba(5, 5, 5, 0.14) 0px 24px 38px 0px, rgba(5, 5, 5, 0.25) 0px 4px 4px 0px;
        border-radius: 20px;
        display: flex;
        width: 1000px;
        justify-content: space-between;
        align-items: center;
    }
    .lasimag img {
        width: 90%;
        border-radius: 20px;
    }
    .buttons button {
        width: 30rem;
        height: 60px;
        margin-top: 20px;
        border: 2px solid royalblue;
        font: 30px;
        font-weight: 700;
    }
    .buttons {
        display: flex;
        flex-direction: column;
    }
}